body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #699bd4;
}


.w3-card-4 {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 0 0px 90px 0 rgb(15, 1, 78);
}


.w3-ul {
    list-style-type: none;
    box-shadow: 0 0px 200px 0 rgb(7, 168, 243);
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    padding-bottom: 2px;
}

.w3-ul li {
    border-bottom: 1px solid #010a5e;
    border-top: 1px solid #010a5e;
    border-left: 1px solid #010a5e;
    border-right: 1px solid #010a5e;
    border-radius: 5px;
    width: 100%;
}