extends layout

block content
  .w3-card-4 
    header.w3-container.w3-blue
      h1= title
    .w3-container
      table.w3-table-all
        tr
          th Id
          th Nome

        each p in lista
          tr
            td= p.id
            td
              a(href="/periodo/" + p.id)= p.nome
            td
              a.w3-button.w3-blue(href="/periodo/edit/" + p.id) Editar 
              a.w3-button.w3-red(href="/periodo/delete/" + p.id) Apagar
        
    footer.w3-container.w3-blue
      address Gerado por EngWeb 2024 em #{data} - 
        | 
        a(href='/') [Retornar]